@use '../../styles/variables/variables';

.item {
  padding-top: variables.$spacing-x-small;
  &__info {
    max-width: 130px;

    &__name {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &__price {
      width: 100px;
    }
  }
}
