.body1 {
  font: $typography-body1;
  color: $primary-foreground-color;
  letter-spacing: 0;
}

.body2 {
  font: $typography-body2;
  color: $secondary-foreground-color;
  letter-spacing: 0;
}

.body3 {
  font: $typography-body3;
  color: $secondary-foreground-color;
  letter-spacing: -0.1rem;
}

.heading {
  font: $typography-heading;
  color: $primary-foreground-color;
  letter-spacing: 0.2rem;
}

.subheading {
  font: $typography-subheading;
  color: $primary-foreground-color;
  letter-spacing: 0;
}

.button {
  font: $typography-button;
  color: $primary-foreground-color;
  letter-spacing: 0;
}
