.body {
  font: 400 1rem / 1.3 'Segoe UI';
  color: $primary-foreground-color;
  letter-spacing: 0;
}

.body-secondary {
  font: 400 0.875 / 1.3 'Segoe UI';
  color: $primary-foreground-color;
  letter-spacing: 0;
}

.body-tertiary {
  font: 400 0.75 / 1.2 'Segoe UI';
  color: $secondary-foreground-color;
  letter-spacing: -0.1rem;
}

.heading {
  font: 800 2rem / 1.5 'Segoe UI';
  color: $primary-foreground-color;
  letter-spacing: 0.2rem;
}

.subheading {
  font: 700 1.5rem / 1.5 'Segoe UI';
  color: $primary-foreground-color;
  letter-spacing: 0;
}

.label {
  font: 400 1rem / 1.2 'Segoe UI';
  color: $primary-foreground-color;
  letter-spacing: 0;
}
